<app-detalle *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado"></app-detalle>
<div class="card">
  <div class="card-header">
    Clientes
  </div>
  <div class="card-body">
    <h5 class="card-title">Listado de clientes</h5>
    <div class="my-2 text-left">
      <button *ngIf="authService.hasRole('ROLE_ADMIN')" [routerLink] ="['/cliente/form']" class="btn btn-outline-primary btn.rounded"> Nuevo Cliente</button>
    </div>

    <div *ngIf="!clientes">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h6 class="display-4">Sin clientes registrados!</h6>
          <p class="lead">Si es necesario favor de registrar nuevos clientes</p>
        </div>
      </div>
    </div>
    <div *ngIf="clientes">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th *ngIf="authService.hasRole('ROLE_USER')"scope="col">Perfil</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Creado</th>
            <th *ngIf="authService.hasRole('ROLE_ADMIN')" scope="col">Crear factura</th>
            <th *ngIf="authService.hasRole('ROLE_ADMIN')" scope="col">Editar</th>
            <th *ngIf="authService.hasRole('ROLE_ADMIN')" scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clientes">
            <td *ngIf="authService.hasRole('ROLE_USER')"> 
              <img  (click)="abrirModal(client)" style="width: 64px; cursor: pointer;" class="img-thumbnail rounded"  *ngIf="client.foto"  src="http://localhost:8080/api/uploads/img/{{client.foto}}" alt="Foto de Perfil">              
              <img  (click)="abrirModal(client)" style="width: 64px; cursor: pointer;" class="img-thumbnail rounded"  *ngIf="!client.foto"  src="http://localhost:8080/images/not-user.png" alt="Sin Foto">              
            </td>  
            <td>{{client.nombre}}</td>
            <td>{{client.apellido}}</td>
            <td>{{client.email}}</td>
            <td>{{client.createAt}}</td>
            <td><a *ngIf="authService.hasRole('ROLE_ADMIN')" [routerLink]="['/facturas/form',client.id]" class="badge badge-success"  style="cursor: pointer;">Crear factura</a></td>
            <td><a *ngIf="authService.hasRole('ROLE_ADMIN')" [routerLink]="['/cliente/form',client.id]" class="badge badge-primary"  style="cursor: pointer;">Editar</a></td>
            <td><a *ngIf="authService.hasRole('ROLE_ADMIN')" (click)="deleteCliente(client)" class="badge badge-danger text-white" style="cursor: pointer;">Eliminar</a></td>
          </tr>
        </tbody>
      </table>
      <app-paginator *ngIf="paginador" [paginador] ="paginador" ></app-paginator>

    </div>
  </div>
</div>

